<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar"
                    aria-expanded="false"
                    class="navbar-toggle collapsed"
                    data-target="#navbar-collapse"
                    data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">{{ 'Flask入门' }}</span>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if url_for('main.index') is current_link %} class="active"{% endif %}>
                    <a href="{{ url_for('main.index') }}" title="主页">主页</a>
                </li>
                <li {% if url_for('main.about') is current_link %} class="active"{% endif %}>
                    <a href="{{ url_for('main.about') }}" title="关于">关于</a>
                </li>
                <li {% if url_for('main.projects') is current_link %} class="active"{% endif %}>
                    <a href="{{ url_for('main.about') }}" title="项目">项目</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="#">{{ current_user.name }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
                    <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-log-in"></span> 注册</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="关键字">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
</nav>
