{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_body %}
    <div class="container">
        {#        Meta信息#}
        {% if current_user.id == article.author_id %}
            <a href="{{ url_for('main.edit', id=article.id) }}" class="btn btn-default">编辑</a>
            <a href="{{ url_for('main.del_art', id=article.id) }}" class="btn btn-danger">删除</a>
        {% endif %}
        <span>作者:{{ article.author.name }}</span>
        <span>发表时间:{{ article.created_time }}</span>
        <hr>
        {#        正文#}
        <div>
            {{ article.body_html | safe }}
        </div>
        {#        操作链接#}
        <h3>评论</h3>
        {#        发表评论#}
        <div>
            {{ wtf.quick_form(form) }}
        </div>
        {#        评论列表#}
        {% for comment in article.comments | sort(attribute='created_time', reverse=True) %}
            <div class="media">
                <div class="media-left">
                    {#                    用户头像#}
                </div>
            </div>
            <div class="media-body">
                {{ comment.created_time }}
                {{ comment.body }}
            </div>
            {% if current_user.id == comment.author_id %}
            <a href="{{ url_for('main.del_com', id=comment.id) }}" class="btn-link">删除</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}